{% extends "base.html" %}

{% block content %}

        <h1>Attend: {{event.eventname}}</h1>
        <hr>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.attendeename.label}} <br>
                {{form.attendeename}}
                {% for error in form.attendeename.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.attendeeemail.label}} <br>
                {{form.attendeeemail}}
                {% for error in form.attendeeemail.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
             <p>{{ form.submit() }}</p>
        <p>you will get a confirmation mail with the link to the message </p>
 {% endblock %}
