{% extends "base.html" %}

{% block app_content %}

        <h3>Messages for {{ event.eventname }}</h3>
        <hr>
        <form action="" method="post">
            <div class="form-group row">
            {{ form.hidden_tag() }}
            <p>
                {{ form.messagebody.label}} <br>
                {{form.messagebody}}
                {% for error in form.messagebody.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
             <p>{{ form.submit() }}</p>
            </div>

        <table class="table table-hover">
            <thread class="thead-dark">
                <tr>
                    <th scope="col">Message</th>
                    <th scope="col">Status</th>
                    <th scope="col"></th>
                </tr>
            </thread>
            <tbody>{%for msg in msgs%}
                <tr>
                    <td>{{msg.messagebody}}</td>
                    <td>{{msg.messagestatus}}</td> 
                    <td><a href= "{{ url_for('forwardmessage', event_id=events.id, message_id=msg.id) }}">edit message </a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

 {% endblock %}
