{% extends "base.html" %}

{% block app_content %}

        <h1>Welcome {{ current_user.username }}</h1>
        <hr>
        <form action="" method="post">
        <div class="form-group row">
            {{ form.hidden_tag() }}
           
                {{ form.eventname.label}} 
                {{form.eventname}}
                {% for error in form.eventname.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            
                {{ form.eventdate.label}} 
                {{form.eventdate}}
                {% for error in form.eventdate.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
             <p>{{ form.submit() }}</p>
        </form>
    </div>
        <table class="table table-hover">
            <thread class="thead-dark">
                <tr>
                    <th scope="col">Event Name</th>
                    <th scope="col">Event Date</th>
                    <th scope="col">Attendance Number</th>
                    <th scope="col">New Messages</th>
                </tr>
            </thread>
            <tbody>{%for event in events%}
                <tr>
                    <td>{{event.eventname}}</td>
                    <td>{{event.eventdate}}</td> 
                    <td>0</td> 
                    <td><a href="{{ url_for('inbox', event_id=event.id) }}">0</a></td> 
                    <td><a href= "{{ url_for('link', event_id=event.id) }}">Create attendance link</a></td>
                    <td><a href= "{{ url_for('event', event_id=event.id) }}">Edit</a></td>
                    <td><a href= "{{ url_for('deleteevent', event_id=event.id) }}">Delete</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

 {% endblock %}
