{% extends "base.html" %}

{% block content %}

        <h1>User: {{ current_user.username }}!</h1>
        <hr>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.eventname.label}} <br>
                {{form.eventname}}
                {% for error in form.eventname.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.eventdate.label}} <br>
                {{form.eventdate}}
                {% for error in form.eventdate.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
             <p>{{ form.submit() }}</p>
        <table>
            <thread>
                <tr>
                    <th>Event Name</th>
                    <th>Event Date</th>
                    <th>Attendance Number</th>
                    <th>New Messages</th>
                </tr>
            </thread>
            <tbody>{%for event in events%}
                <tr>
                    <td>{{event.eventname}}</td>
                    <td>{{event.eventdate}}</td> 
                    <td>0</td> 
                    <td>0</td> 
                    <td><a href= "{{ url_for('link', event_id=event.id) }}">Create attendance link</a></td>
                    <td><a href= "{{ url_for('event', event_id=event.id) }}">Edit</a></td>
                    <td><a href= "{{ url_for('deleteevent', event_id=event.id) }}">Delete</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

 {% endblock %}
