{% extends "base.html" %}

{% block content %}

        <h1>User: {{ current_user.username }}!</h1>
        <hr>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.eventname.label}} <br>
                {{form.eventname}}
                {% for error in form.eventname.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.eventdate.label}} <br>
                {{form.eventdate}}
                {% for error in form.eventdate.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.submit() }}</p>
        
        {% for event in events %}
        <p>
            {{ event.eventname}}
        </p>
        {% endfor%}
 {% endblock %}